.flightCardMain{
    border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        margin-right:30px;
        border-radius: 8px;
}
.flightCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flightPrice{
    font-size: 24px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 8px;
    
}
